.panelContainer{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}

.regularBtn{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    font-size:larger
}
.zeroBtn{
    width: 45%;
    height: 100px;
    margin: 10px 10px 10px 10px;
    font-size:larger
}

.delBtn{
    width: 46%;
    height: 100px;
    margin: 10px 10px 10px 13px;
    font-size:larger
}