.close {
  --ion-color-primary: #e1cca8;
  --ion-color-primary-rgb: 225, 204, 168;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c6b494;
  --ion-color-primary-tint: #e4d1b1;
  background-color: #e1cca8;
}
