.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
// .main{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.button {
  margin-top: 50%;
  position: absolute;
  display: -webkit-inline-box;
  flex-direction: column;
  bottom: 0;
  left: 19%;
}
.list {
  margin-top: 15px;
}
.btn {
  margin-top: 15px;
  background-color: rgb(167, 182, 201);
  border-radius: 10px;
}
