.toolbarColor {
  background-color: #e1cca8;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
// .main{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.button {
  margin-top: 50%;
  position: absolute;
  display: -webkit-inline-box;
  flex-direction: column;
  bottom: 0;
  left: 19%;
}
.list {
  margin-top: 15px;
}
.btn {
  // position: absolute;
  margin-top: 15px;
  background-color: #e1cca8;
  border-radius: 10px;
  // bottom: 0;
}
Ion-Content {
  overflow: scroll;
}
.h1 {
  display: flex;
}
.reviewBtn {
  margin-top: 15px;
  background-color: #e1cca8;
  border-radius: 10px;
}
