.calendarWrapper{
    margin: 5vh 2vh 5vh 2vh;
}


/* .fc{
    color: black;
} */

:root{
    --fc-button-bg-color:transparent;
    --fc-button-text-color: grey;
    --fc-event-text-color: grey;
    --fc-more-link-text-color: grey;
    --fc-border-color: grey;
    --fc-today-bg-color: rgba(255, 166, 0, 0.451);
    --fc-border-color: grey;
    --fc-border-radius: 100px;
}

:host{
    --fc-col-header-cell-cushion: grey;
}

.addButton{
    position: absolute;
    right: 20px;
    bottom: 40px;
    z-index:999;
}

.modalContentStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 3px;
    margin-bottom: 3px ;
    font-weight: bold;
}



.contentContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalContentStyle{
    display: flex;
    flex-direction: column; 
    /* justify-content: left;  */
}

.btn-danger{
    background-color: red;
}

.calendarEventDayViewWrapper{
    /* border-style: solid; */
    width:85vw;
    margin-left:15px;
    margin-top:8px;
    color:black;
    text-decoration: none;
}

.dayViewLabel{
    width:85vw;
}