.ql-editor{
    resize:none;
    height: 85vh !important;
    text-transform: none;
}


.toolbar select.toolbar-item{
    margin-top: 3px;
    padding:3px 0px 3px 0px;
}

.toolbar{
    height:45px;
}

.Modal__modal{
    max-width: 80vw;
}

img{
    max-width: 55vw !important;
}

@media (max-width: 768px) {
 
  }

  .toolbar {
    display: flex;
    flex-direction: row;
  overflow: scroll;
  }

  .editor-wrapper {
    padding: 10px;
  }

  .rdw-editor-toolbar{
    flex-wrap: unset !important;
  }

  .rdw-history-wrapper{
    flex-wrap: unset !important;
  }

