.ContentEditable__root{
    resize:none;
    height: 85vh;
   /* min-height: 80vh; */
   text-transform: none;
}


.toolbar select.toolbar-item{
    margin-top: 3px;
    padding:3px 0px 3px 0px;
}

.toolbar{
    height:45px;
}

.Modal__modal{
    max-width: 80vw;
}

img{
    max-width: 55vw !important;
}


