<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499965291407-dm47i35nmblb2r4euagkt7gp6judo8ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499965291407-dm47i35nmblb2r4euagkt7gp6judo8ev</string>
	<key>API_KEY</key>
	<string>AIzaSyAKIzP2VYav-1LyQgOEdJ6t42W6g84RhbY</string>
	<key>GCM_SENDER_ID</key>
	<string>499965291407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noticias0218081905181021.app</string>
	<key>PROJECT_ID</key>
	<string>noticias-df956</string>
	<key>STORAGE_BUCKET</key>
	<string>noticias-df956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499965291407:ios:c31e313f081e11328a79fa</string>
</dict>
</plist>