.editHeaderContainer {
  height: 30px;
  border-bottom: 1px solid black;
  margin-top: 70px;
}

.editHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.headerBack {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 22px;
  cursor: pointer;
}

.editContainer {
  margin: 10px;
}

.editItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editInput {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
}

.clearBtn {
  font-size: 8px;
  height: 16px;
  width: 16px;
  color: white;
  background-color: rgb(107, 107, 107);
  border-radius: 50%;
  cursor: pointer;
}

.editGenderContainer {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editGenderBtnContainer {
  height: 20px;
  width: 20px;
  background-color: #74777a;
  border: 1px solid #32393f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editGenderBtn {
  border-radius: 50%;
  font-size: 10px;
  color: #74777a;
}

.editGenderClickedContainer {
  background-color: #a3b7cb;
}

.editGenderClicked {
  color: white;
}
