.dayWeatherIcon{
     width: 120px;
     padding-right: 30px;
}

.weatherWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    background-color: rgba(55, 141, 194, 0.357);
    font-size: 16px;
    color: white;
    background-image: url("./weather_background/cloudy.jpg");
}

.mainWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:20px;
}

.dateAndTemp{
    padding-left: 30px;
    padding-top: 20px;
}

.temperature{
    font-size: 40px !important;
}


