@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Special+Elite&display=swap');

.addNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 40px;
    z-index:999;
}


ion-popover {
    --background: rgba(105, 175, 198, 0.6);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 200px;
  }

button.item-native::after{
  --width:180px;
}

  
  ion-popover ion-content {
    --background: rgba(40, 173, 218, 0.6);
  }


  .listItemText{
    margin-left: 10px;
  }
  
  ion-popover::part(backdrop) {
    background-color: rgba(233, 228, 228, 0.832);
  }

  .memoWrapper{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    margin-right:15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 40px;    
  }

  .mainMemoContainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .memoBlock{
    padding:5px;
    border-width: 5px;
    border-color: red;
    font-size: 6px;
    width: 100px;
    height: 100px;
    overflow:hidden;
    background-color: white;
    border-radius: 5px;
  }

  .memoAContainer{
    width: 100px;
    margin: 6px;
    text-decoration: none;
  }

  .memoUpdatedTime{
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    color: #32393F;
  }

  .todayLabel{
    background-color: rgba(50, 58, 214, 0.374);
    padding: 2px;
    border-radius: 5px;
  }

  .diaryLabel{
    background-color: rgba(76, 93, 220, 0.374);
    padding: 2px;
    border-radius: 5px;
  }

  .memoLabel{
    background-color: rgba(178, 139, 139, 0.374);
    padding: 2px;
    border-radius: 5px;
  }

  .todoLabel{
    background-color: rgba(110, 152, 230, 0.374);
    padding: 2px;
    border-radius: 5px;
  }

  .dayWeatherIcon{
    width: 120px;
    padding-right: 30px;
}

.weatherWrapper{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   margin-top: 2vh;
   margin-bottom: 1vh;
   border-radius: 10px;
   background-color: rgba(55, 141, 194, 0.357);
   font-size: 16px;
   color: white;
   background-image: url("./Diary/weather_background/cloudy.jpg");
}

.mainWrapper{
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 90%;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom:20px;
}

.dateAndTemp{
   padding-left: 30px;
   padding-top: 20px;
}

.temperature{
   font-size: 40px !important;
}

.diaryWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;    
}

.diaryBlock{
  padding:10px;
  border-width: 5px;
  border-color: red;
  font-size: 10px;
  height: 130px;
  width:85vw;
  overflow:hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-start;
}

.previewText{
  width:50%;
}

.previewImage{
  width:50%;
  overflow: scroll;
}

.diaryAContainer{
  width: 85vw;
  height: 200px;
  margin: 6px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.diaryMood{
  position: relative;
  bottom: 205px;
  left: 300px;
  font-size: 33px;
}

.diaryUpdatedTime{
  font-size: 16px;
  color: rgb(110, 110, 110);
  width:85vw;
  height: 32px;
  background-color: #a0a2c0c0;
  padding:6px;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
}

.diaryTitleText{
  margin-left: 10px;
  padding-top: 5px;
}

.diaryDateAdjPosition{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.diaryContent{
  width:68vw;
}

.diaryWeek{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 20px;
  color:rgb(235, 235, 60);
  font-weight: bold;
}

.diaryDate{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
  color:aliceblue;
  font-size:16px;
}

.diaryDateDay{
  font-size: 30px;
}

.diaryDateMonth{
  font-size: 18px;
}

.diaryDateYear{
  font-size: 18px;
}

.diaryTitle{
  color:black;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  height:25px;
  width:85vw;
  display: flex;
  align-items: center;
}

.diaryChooseDate{
  position: absolute;
  right: 5vw;
  top:135px;
  z-index:999;
}

.clearDateFilter{
  position: absolute;
  right: 5vw;
  top:135px;
  z-index:999;
}


.selected{
  color:red;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #dde048;
  background-color: #dde048; 
}

.emotionSelectionBlock{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  border-style:dashed;
  border-width: 2px;
  border-color: gray;
  border-radius: 10px;
}

.diaryTitleInput{
  font-size: 22px;
  font-family: 'Special Elite', cursive;
  font-weight: bolder;
  color: #415b76;
}

.todoListWrapper{
  text-decoration: none; 
}

.todoListWrapper2{
  width:85vw;
  background-color: rgba(255, 255, 255, 0.702);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.todoProgressIcon{
  font-size: 18px;
}

.todoPreviewHashtagStyle{
  background-color: rgb(227, 198, 188);
  padding-left:2px;
  padding-right:2px;
  margin-left:1.5px;
  margin-right:1.5px;
  border-radius: 3px;
  font-size: 13px;
}

.todoPreviewHashtag{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width:30vw;
}

.titleAndHashtagContainer{
  display: flex;
  flex-direction: column;
}

.todoListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  overflow: scroll;
}

.todoListTitle{
  word-wrap: break-word; 

}

.memoBlock img {
  max-width: 100%; 
  max-height: 100%; 
}

.todoListDate{
  font-size: 11px;
  color: gray
}

.filteredDateDiv{
  padding: 3px;
  background-color: rgb(177, 177, 177);
  color: white;
  display: inline-block;
  margin-left: 18px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 5px;
  width: 25vw;
}

.filterBtnGroup{
  display: flex;
  flex-direction: column;
}