.addNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:40px;
    bottom: 70px;
}


ion-popover {
    --background: rgba(105, 175, 198, 0.6);
    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 200px;
  }

button.item-native::after{
  --width:180px;
}

  
  ion-popover ion-content {
    --background: rgba(40, 173, 218, 0.6);
  }


  .listItemText{
    margin-left: 10px;
  }
  
  ion-popover::part(backdrop) {
    background-color: rgba(233, 228, 228, 0.832);
  }