body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5vh; */
}

.nutrient-header {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-calories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.header-calories-left {
  font-size: 20px;
}

.daily-calories-intake {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.header-calories-intake {
  font-size: 12px;
}

.calories-progressBar-container {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.header-nutrient-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.header-nutrient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
}

.header-nutrient-index {
  font-size: 10px;
  margin-bottom: 5px;
}

.nutrient-progressBar-container {
  width: 80px;
}

.expected-calories-intake {
  font-size: 12px;
}

.water-balance-container {
  width: 300px;
  height: 120px;
  background-color: #08c4ff;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(202, 199, 199);
}

.water-balance-header {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}

.water-balance-main {
  width: 280px;
  height: 75px;
  background-color: white;
  margin: 10px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
}

.water-intake-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.water-intake {
  padding: 10px;
}

.water-minimum-intake {
  margin-top: 3px;
  font-size: 10px;
  color: gray;
}

.water-intake-addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #08c4ff;
  background-color: #ddf4fc;
  border: transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.water-progressBar-container {
  width: 260px;
  margin-left: 10px;
  margin-right: 10px;
}

.food-tracker-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin-bottom: 10px;
}

.food-tracker-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 10px 0px;
}

.select-meal-type {
  width: 120px;
  font-size: 12px;
  padding: 2px;
}

.add-mealBtn {
  font-size: 10px;
}

.meal-container {
  background-color: #eae4b4;
}

.meal-type {
  font-size: 12px;
  margin: 10px 10px 0px 10px;
}

.food-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.food-search-result {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  margin: 10px 10px 10px 0px;
}

.food-search-bar {
  width: 200px;
  height: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
  font-size: 10px;
}

.food-search-bar:focus {
  outline: none;
}

.nutrient-ul {
  z-index: 9999;
  position: absolute;
  top: 20px;
  right: 0px;
}

.nutrient-li {
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  list-style: none;
  background-color: white;
  font-size: 12px;
}

.nutrient-addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 10px;
  font-size: 20px;
}

.intake-history-container {
  width: 300px;
  min-height: 10px;
  max-height: 100px;
  overflow: scroll;
  border-bottom: 1px solid;
}

.intake-history {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 12px;
}

.food-name-calories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.food-name {
  margin-right: 10px;
  overflow: hidden;
}

.food-nutrient {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 5px;
}

.data-notice {
  font-size: 10px;
}
