.nutrientHeader {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222222;
}

.headerCaloriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.headerCaloriesLeft {
  font-size: 20px;
}

.dailyCaloriesIntake {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.headerCaloriesIntake {
  font-size: 12px;
}

.caloriesProgressBarContainer {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.headerNutrientContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.headerNutrient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
}

.headerNutrientIndex {
  font-size: 10px;
  margin-bottom: 5px;
}

.nutrientProgressBarContainer {
  width: 80px;
}

.expectedCaloriesIntake {
  font-size: 12px;
}

.waterBalanceWrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.waterBalanceContainer {
  width: 300px;
  height: 120px;
  background-color: #08c4ff;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(202, 199, 199);
}

.waterBalanceHeader {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}

.waterBalanceMain {
  width: 280px;
  height: 75px;
  background-color: white;
  margin: 10px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
}

.waterIntakeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.waterIntake {
  padding: 10px;
}

.waterMinimumIntake {
  margin-top: 3px;
  font-size: 10px;
  color: gray;
}

.waterIntakeAddBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #08c4ff;
  background-color: #ddf4fc;
  border: transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.waterProgressBarContainer {
  width: 260px;
  margin-left: 10px;
  margin-right: 10px;
}

.foodTrackerWrapper {
  display: flex;
  justify-content: center;
  color: #222222;
}

.foodTrackerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin-bottom: 10px;
}

.foodTrackerContainerHeader {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 10px 0px;
}

.selectMealType {
  width: 120px;
  font-size: 12px;
  padding: 2px;
}

.addMealBtn {
  font-size: 10px;
  background-color: white;
  width: 60px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid;
}

.mealContainer {
  background-color: #eae4b4;
}

.mealType {
  font-size: 14px;
  margin: 10px 10px 0px 10px;
}

.foodSearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.foodSearchResult {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  margin: 10px 10px 10px 0px;
}

.foodSearchBar {
  width: 200px;
  height: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
  font-size: 10px;
}

.foodSearchBar:focus {
  outline: none;
}

.nutrientUl {
  z-index: 9999;
  position: absolute;
  top: 30px;
  right: 0px;
}

.nutrientLi {
  width: 200px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  list-style: none;
  background-color: white;
  font-size: 12px;
}

.nutrientAddBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 10px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.intakeHistoryContainer {
  width: 300px;
  min-height: 20px;
  max-height: 120px;
  overflow: scroll;
  border-bottom: 1px solid;
}

.intakeHistory {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 12px;
}

.foodNameCaloriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foodName {
  width: 150px;
  overflow: hidden;
}

.foodNutrient {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 5px;
}

.dataNotice {
  font-size: 10px;
}
